@charset "UTF-8";

@-ms-viewport { width: device-width; }

@viewport { width: device-width; }

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Overthrow CSS:
Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.overthrow-enabled .activity {
  height: 280px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#splash {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: #0CA3D2;
  z-index: 9999;
  display: table;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  .ng-scope & { font-family: inherit }
}

.cell {
  @media only screen and (min-width: 30em) {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

#auth {
  position: relative;
  @media only screen and (min-width: 30em) {
    width: 15em;
    margin: 0 auto;
  }
  text-align: left;
  background: white;
  padding: 20px;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5),
              0 1px 2px rgba(0, 0, 0, 0.3),
              0 0 0 10px rgba(0,0,0,.1);


  input {
    width: 100%;
  }
}

.loading {
  font-size: 0.85em;
  opacity: 0.5;
  text-align: center;
  margin: 0;
}

label, small { display: block }

#splash h2 {
  margin-top: 0;border-bottom: 1px solid rgba(0,0,0,.2);
}
#auth small {margin-bottom: 10px}

label {margin-bottom: 5px}

.auth-status {
  color: red;
  text-align: center;
  font-weight: bold;
}

ng-switch {
  display: none;
  .ng-scope & { display: block }
}

.remember {float: left}

.remember-text {font-size: small;}


:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}


input[type=email], input[type=password] {
  display: block;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 80%;
  font-size: small;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=email]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}


input[type=submit] {
  margin: 20px 0;
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  background: #DCEEFC;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  outline: 5px solid #eff4f7;
}

input[type=submit]:hover {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
  background: #CADAE9;
}

input[type=submit]:active {box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.35);}




input[type=checkbox],
input[type=radio] {
border: 1px solid #c0c0c0;
margin: 0 0.1em 0 0;
padding: 0;
font-size: 16px;
line-height: 1em;
width: 1.25em;
height: 1.25em;
background: #fff;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#fbfbfb));

-webkit-appearance: none;
-webkit-box-shadow: 1px 1px 1px #fff;
-webkit-border-radius: 0.25em;
vertical-align: text-top;
display: inline-block;

}

input[type=radio] {
-webkit-border-radius: 2em; /* Make radios round */
}

input[type=checkbox]:checked::after {
content:"✔";
display:block;
text-align: center;
font-size: 16px;
height: 16px;
line-height: 18px;
}

input[type=radio]:checked::after {
content:"●";
display:block;
height: 16px;
line-height: 15px;
font-size: 20px;
text-align: center;
}
