.upfront-snippet-history {

  // NOTE: this hides the legend for the history previews. I am not quite sure
  // if this is a reasonable thing to do, thus it is just done here in css as a
  // rather intrusive hack. If it turns out to be a good idea, this should get a
  // property of the choropleth.
  .list-inline {
    display: none;
  }

  .history-explorer {
    width: 50%;
    float: left;

    .current-history-map {
      margin-top: -5px;
      padding: 10px;
      border: 1px solid @grayLight;
      border-bottom: none;
    }
  }

  .latest-preview {
    width: 40%;
    float: right;
  }

  .diff-viewer {
    clear: both;
  }

}
