.upfront-snippet-history {

  .preview-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .history-explorer {
    width: 40%;
    float: left;
    border: 1px solid @blue;

    // css hack to have equal height floating elements
    padding-bottom: 500em;
    margin-bottom: -500em;

    .current-history-map {
      padding: 10px;
    }
  }

  .latest-preview {
    width: 40%;
    float: right;

    // css hack to have equal height floating elements
    padding-bottom: 500em;
    margin-bottom: -500em;
  }

  .diff-viewer {
    padding: 10px 10px;
    clear: both;
    border: 1px solid @blue;
    //border-top: none;
  }

}
