.upfront-snippet-history {

  .history-explorer {
    width: 50%;
    float: left;

    .current-history-map {
      margin-top: -5px;
      padding: 10px;
      border: 1px solid @grayLight;
    }
  }

  .latest-preview {
    width: 40%;
    float: right;
  }

  .diff-viewer {
    clear: both;
  }

}
